language: go
sudo: false

go:
  - 1.x

install:
  - go version
  - export PATH="$PATH:$GOPATH/bin"
  - go get -u golang.org/x/lint/golint
  - go get golang.org/x/tools/cmd/goimports

script:
  - go build
  - go test ./...
  - diff <(goimports -d *.go) <(printf "")

after_success:
  - diff <(golint .) <(printf "")
